# Node modules
node_modules/

# Fichiers IntelliJ/Webstorm
.idea/
*.iml

# Fichiers systèmes
.DS_Store
Thumbs.db

# Logs
*.log

# Autres fichiers inutiles
npm-debug.log*
yarn-debug.log*
yarn-error.log*
